# Postgres Database
POSTGRES_HOST="<postgres_host>"
POSTGRES_PORT="<postgres_port>"
POSTGRES_USER="<postgres_user>"
POSTGRES_PASSWORD="<postgres_password>"
POSTGRES_DB="<postgres_db>"

# Connection Pool Size
SQLALCHEMY_POOL_SIZE="<sqlalchemy_pool_size|defaults to 10>"
# Max connections to keep in pool overflow
SQLALCHEMY_MAX_OVERFLOW="<sqlalchemy_max_overflow|defaults to 20>"

FIREBASE_IDENTITY_TOOLKIT_ENDPOINT="<firebase identity toolkit endpoint: https://identitytoolkit.googleapis.com>"
FIREBASE_API_KEY="<firebase api key>"
FIREBASE_CREDENTIALS_PATH="<firebase credentials path>"

LLM_ENDPOINT="<LLM endpoint to request prompts>"

ENVIRONMENT="<environment type|prod|development>"